.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared */
.background {
    background: rgb(255, 248, 243);
}

.text-yellow {
    color: #FD6E0A;

}

.dark1 {
    color: #474747;
}

.btn {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 18px, 35px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 185px;
    height: 64px
}

/* header style*/
.header {

    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    /* background-image: url(../images/header_bg.png); */
    background-position: top left, bottom right;

}


/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}


.nav-title {
    font-size: 45px;
    font-weight: 800;
    margin-left: 23px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 48px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;

}

.banner-content {
    max-width: 585px;
    margin-left: 230px;

}

.banner-hi {
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 5px;
}

.banner-title {
    font-size: 85px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 20px;

}

.banner-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}
.dc{
    display: flex;
    gap: 20px;
}

.contact-btn {
  
    background-color: rgb(255, 248, 243);
   
    
    font-size: 20px;
    font-weight: 700;
    padding: 18px, 35px;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 64px;


}

.contact-div{
    border: 1px solid rgb(253, 110, 10);
}


/* .................................................................. */

/* main */
main {
    max-width: 1140px;
    margin: 0px auto;

}

.about {
    text-align: center;
    padding: 130px 155px;
    margin-top: 130px;
    margin-bottom: 130px;
}

.about-details {}

.about-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
}

.about-description {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
}

.item-bold {
    font-weight: 700;
    color: black;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-details {
    color: rgb(117, 117, 117);

}


/* whatt sectiion */
.what {
    margin-bottom: 130px;

}

.what-details {
    text-align: center;
}

.what-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;

}

.what-description {
    margin: 30px 115px 50px 115px;
    color: rgb(117, 117, 117);

    font-size: 18px;
    font-weight: 400;

    text-align: center;
}

.skill-items {
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

.skill {
    padding: 30px;
    /* background-color: #FD6E0A; */
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}



/* resume */

.resume {
    margin-bottom: 113px;
}

.resume-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    text-align: center;
    margin-bottom: 113px;
}

.resume-container {
    display: flex;
    gap: 24px;
    text-align: left;
}

.column-title {
    color: rgb(71, 71, 71);
    font-size: 30px;
    text-align: left;
    margin-bottom: 30px;
}

.experience-title {
    color: rgb(71, 71, 71);
    font-size: 25px;
    margin-bottom: -25px;

}

.university {
    color: rgb(117, 117, 117);
    font-size: 20px;
    margin-bottom: -5px;

}

.experience-details {
    color: rgb(117, 117, 117);
    font-size: 16px;
}

.resume-btn {
    margin-top: 50px;
    text-align: center;
}



/*  foooter */

.footer {
    display: flex;
    padding: 130px 230px;
    gap: 150px;
}

.connect {
    color: rgb(24, 24, 24);
    font-size: 35px;
    text-align: left;
    margin-bottom: 20px;
}

.connect-des {
    color: rgb(71, 71, 71);
    font-size: 16px;
    text-align: left;
    margin-bottom: 30px;
}

.connect-img {
    display: flex;
    gap: 25px;
}

.inbox {
    color: rgb(24, 24, 24);
    font-size: 35px;
    text-align: left;
}

/* .footer-column{
    width: 50%;
} */

footer input[type="text"],
footer input[type="email"] {
    height: 40px;
    width: 461px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 10px 30px;
    display: block;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
}

footer textarea {
    height: 120px;
    width: 461px;
    font-size: 16px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 18px 30px;
    display: block;
    margin-bottom: 24px;
    border: none;
}